{{ header }}
<div id="information-contact" class="container contact-container">
  <div class="row information-contact-row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} our-contacts-main-block-flex">{{ content_top }}
       <h2 class="contacts-h2">
         {% if current_lang == "uk-ua" %}Наші контакти{% endif %}
         {% if current_lang == "ru-ru" %}Наши контакты{% endif %}
         {% if current_lang == "en-gb" %}Our contacts{% endif %}
       </h2>

      <div class="our-contacts-block-flex">
          <a href="tel:+380670000304" rel="nofollow" class="block-100">
              <div class="our-contacts-block-1-flex">

                  <img src="image/catalog/Contacts/icon-phone.png" class="contacts-icons">
                  <h2 class="contacts-h2-text">{{ text_telephone }}</h2>
                  <p class="contacts-p">{{ telephone }}</p>

              </div>
          </a>
        <div class="our-contacts-block-1-flex">
            <img src="image/catalog/Contacts/icon-map.png" class="contacts-icons-map">
            <h2 class="contacts-h2-text">
                {% if current_lang == "uk-ua" %}Адреса{% endif %}
                {% if current_lang == "ru-ru" %}Адрес{% endif %}
                {% if current_lang == "en-gb" %}Address{% endif %}
            </h2>
{#            <p class="contacts-p">{{ address }}</p>#}
            <p class="contacts-p">
                {% if current_lang == "uk-ua" %}Україна, м. Вінниця{% endif %}
                {% if current_lang == "ru-ru" %}Украина, г. Винница{% endif %}
                {% if current_lang == "en-gb" %}Ukraine, Vinnytsia{% endif %}
            </p>
        </div>
        <a href="mailto:info@wonder-corporation.com" target="_blank">
              <div class="our-contacts-block-1-flex">
                  <img src="image/catalog/Contacts/icon-mail.png" class="contacts-icons">
                  <h2 class="contacts-h2-text">
                      {% if current_lang == "uk-ua" %}Пошта{% endif %}
                      {% if current_lang == "ru-ru" %}Почта{% endif %}
                      {% if current_lang == "en-gb" %}Mail{% endif %}
                  </h2>
                  <p class="contacts-p">{{ store_email }} </p>
              </div>
        </a>
      </div>

      <div class="contact-form-block">
          <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
              <fieldset class="contact-us-fieldset">
                  <div class="contact-us-block-1 col-sm-10 col-xs-10">
                      <div class="col-sm-6 col-xs-6 width-max-600-100 col-6-49">
                          <div class="form-group required">
                              <div>
                                  <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control contact-form-cell-name"
                                      {% if current_lang == "uk-ua" %}placeholder="Ім'я"{% endif %}
                                      {% if current_lang == "ru-ru" %}placeholder="Имя"{% endif %}
                                      {% if current_lang == "en-gb" %}placeholder="Name"{% endif %}
                                  />
                                  {% if error_name %}
                                      <div class="text-danger">{{ error_name }}</div>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-xs-6 width-max-600-100 col-6-49">
                          <div class="form-group required">
                              <div>
                                  <input type="text" name="phone" value="{{ phone }}" id="input-phone" class="form-control contact-form-cell-phone"
                                      {% if current_lang == "uk-ua" %}placeholder="Телефон"{% endif %}
                                      {% if current_lang == "ru-ru" %}placeholder="Телефон"{% endif %}
                                      {% if current_lang == "en-gb" %}placeholder="Phone"{% endif %}
                                  />
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="contact-us-block-2 col-sm-10 col-xs-10">
                      <div class="col-sm-12 col-xs-12">
                          <div class="form-group required">
                              <div>
                                  <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control contact-form-cell-mail"
                                         {% if current_lang == "uk-ua" %}placeholder="Пошта"{% endif %}
                                         {% if current_lang == "ru-ru" %}placeholder="Почта"{% endif %}
                                         {% if current_lang == "en-gb" %}placeholder="Mail"{% endif %}
                                  />
                                  {% if error_name %}
                                      <div class="text-danger">{{ error_name }}</div>
                                  {% endif %}
                                  {% if error_email %}
                                      <div class="text-danger">{{ error_email }}</div>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="contact-us-block-2 col-sm-10 col-xs-10">
                      <div class="col-sm-12 col-xs-12">
                          <div class="form-group required">
                              <div>
						<textarea name="enquiry" rows="10" id="input-enquiry" class="form-control contact-form-cell-message"
							{% if current_lang == "uk-ua" %}placeholder="Задати питання"{% endif %}
                            {% if current_lang == "ru-ru" %}placeholder="Задать вопрос"{% endif %}
                            {% if current_lang == "en-gb" %}placeholder="Ask a question"{% endif %}
						>{{ enquiry }}</textarea>
                                  {% if error_enquiry %}
                                      <div class="text-danger">{{ error_enquiry }}</div>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>

                  {{ captcha }}
              </fieldset>
              <div class="buttons">
                  <div class="btn-center">
                      <input class="btn btn-success btnHeader-1 btn-100" type="submit"
                          {% if current_lang == "uk-ua" %}value="Відправити"{% endif %}
                          {% if current_lang == "ru-ru" %}value="Отправить"{% endif %}
                          {% if current_lang == "en-gb" %}value="Send"{% endif %}
                      />
                  </div>
              </div>
          </form>
      </div>

{#      <div class="panel panel-default">#}
{#        <div class="panel-body">#}
{#          <div class="row">#}
{#            {% if image %}#}
{#            <div class="col-sm-3"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail" /></div>#}
{#            {% endif %}#}
{#            <div class="col-sm-3"><strong>{{ store }}</strong><br />#}
{#              <address>#}
{#              {{ address }}#}
{#              </address>#}
{#              {% if geocode %}#}
{#              <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
{#              {% endif %}#}
{#            </div>#}
{#            <div class="col-sm-3"><strong>{{ text_telephone }}</strong><br>#}
{#              {{ telephone }}<br />#}
{#              <br />#}
{#              {% if fax %}#}
{#              <strong>{{ text_fax }}</strong><br>#}
{#              {{ fax }}#}
{#              {% endif %}#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              {% if open %}#}
{#              <strong>{{ text_open }}</strong><br />#}
{#              {{ open }}<br />#}
{#              <br />#}
{#              {% endif %}#}
{#              {% if comment %}#}
{#              <strong>{{ text_comment }}</strong><br />#}
{#              {{ comment }}#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      {% if locations %}#}
{#      <h3>{{ text_store }}</h3>#}
{#      <div class="panel-group" id="accordion">#}
{#        {% for location in locations %}#}
{#        <div class="panel panel-default">#}
{#          <div class="panel-heading">#}
{#            <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>#}
{#          </div>#}
{#          <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">#}
{#            <div class="panel-body">#}
{#              <div class="row">#}
{#                {% if location.image %}#}
{#                <div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail" /></div>#}
{#                {% endif %}#}
{#                <div class="col-sm-3"><strong>{{ location.name }}</strong><br />#}
{#                  <address>#}
{#                  {{ location.address }}#}
{#                  </address>#}
{#                  {% if location.geocode %}#}
{#                  <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>#}
{#                  {% endif %}#}
{#                </div>#}
{#                <div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br>#}
{#                  {{ location.telephone }}<br />#}
{#                  <br />#}
{#                  {% if location.fax %}#}
{#                  <strong>{{ text_fax }}</strong><br>#}
{#                  {{ location.fax }}#}
{#                  {% endif %}#}
{#                </div>#}
{#                <div class="col-sm-3">#}
{#                  {% if location.open %}#}
{#                  <strong>{{ text_open }}</strong><br />#}
{#                  {{ location.open }}<br />#}
{#                  <br />#}
{#                  {% endif %}#}
{#                  {% if location.comment %}#}
{#                  <strong>{{ text_comment }}</strong><br />#}
{#                  {{ location.comment }}#}
{#                  {% endif %}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#      {% endif %}#}
{#      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">#}
{#        <fieldset>#}
{#          <legend>{{ text_contact }}</legend>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />#}
{#              {% if error_name %}#}
{#              <div class="text-danger">{{ error_name }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>#}
{#            <div class="col-sm-10">#}
{#              <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />#}
{#              {% if error_email %}#}
{#              <div class="text-danger">{{ error_email }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group required">#}
{#            <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label>#}
{#            <div class="col-sm-10">#}
{#              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>#}
{#              {% if error_enquiry %}#}
{#              <div class="text-danger">{{ error_enquiry }}</div>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#          {{ captcha }}#}
{#        </fieldset>#}
{#        <div class="buttons">#}
{#          <div class="pull-right">#}
{#            <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />#}
{#          </div>#}
{#        </div>#}
{#      </form>#}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
