{{ header }}
<div class="container soil-audit-container-full">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}

        <div id="content" class="{{ class }} soil-audit-container-full">{{ content_top }}
            <div class="row policy-block">

            <h1 class="policy-heading-title">{{ heading_title }}</h1>
            {{ description }}

                {{ content_bottom }}</div>
            {{ column_right }}</div>
    </div>
</div>
{{ footer }}
