<div class="swiper-viewport swiper-certificate-block">
  <div id="carousel{{ module }}" class="swiper-container swiper-certificate-background">
    <h1>
      {% if current_lang == "uk-ua" %}Сертифікати{% endif %}
      {% if current_lang == "ru-ru" %}Сертификаты{% endif %}
      {% if current_lang == "en-gb" %}Certificates{% endif %}
    </h1>
    <div class="swiper-wrapper ">{% for banner in banners %}
      <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %}</div>
    <div class="certificate-pagination-block"></div>
  </div>
  <div class="certificate-swiper-pagination-block">
    <div class="swiper-pagination  carousel{{ module }}"></div>
  </div>

  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<script type="text/javascript"><!--
$('#carousel{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 3,
	pagination: '.carousel{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
	autoplay: 1500,
	loop: true,
    breakpoints: {
      600: {slidesPerView: 1},
      800: {slidesPerView: 2}
  }
});
--></script>